/* Adjustments for the left panel */
.left-panel {
    width: 200px;
    background-color: #0c53a0;
    position: fixed;
    left: 0;
    overflow-y: auto;
  }
  
  /* Main content area */
  .main-content {
    margin-left: 235px; /* Adjust this value to match the width of the left panel */
    padding: 10px;
    height: 100vh; /* высота секции равна высоте области просмотра */
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 60px; */
    background-color: #333;
    color: #fff;
    padding: 0px;
  }
  
  .navbar-item {
    margin-right: 10px;
  }